# Firebase
FIREBASE_DB_URL=https://surveys-2791f-default-rtdb.firebaseio.com
FIREBASE_DB_SECRET=EmxdPAzkSFTGxCmyevQ0pO5yaAUd67cvocgf7bm2

# PayHero
PAYHERO_AUTH_TOKEN=Basic OWZZWVUwTG9SSkdnZ0pvUmhwQ3M6SDREdWwxQTVTT0N2QksxUk85dTE1eUJoazFXWHhJNFZMcm80Sks0MA==
PAYHERO_CHANNEL_ID=3838
PAYHERO_ACCOUNT_ID=3278
PAYHERO_BASE_URL=https://api.payhero.co.ke
PAYHERO_PAYMENT_URL=https://backend.payhero.co.ke/api/v2/payments
PAYHERO_STATUS_URL=https://backend.payhero.co.ke/api/v2/transaction-status

# Public base URL for callback generation (set to your vercel domain)
PUBLIC_BASE_URL=https://pesa-tasks.vercel.app
